@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

:root {
    --font-family: 'Barlow Semi Condensed', sans-serif;
    --bg-color: #CBD9FA;
    --primary-color: #2e2e2e;
    --second-color: #dddfd5;
    --fundo-roxo: #6C22E6
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

.first_line {
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

#titlewhite {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#titlefirstwhite {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    margin-left: -13%;
}

#titlesecondwhite {
    font-size: 17px;
}

#textwhite {
    font-size: 12px;
}

.Daniel_Clifford {
    background-color: var(--fundo-roxo);
    width: 600px;
    border-radius: 10px;
    padding: 1em;
    color: var(--second-color);
}