@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

:root {
    --font-family: 'Barlow Semi Condensed', sans-serif;
    --bg-color: #CBD9FA;
    --primary-color: #2e2e2e;
    --second-color: hsl(0, 0%, 81%);
}

html{ 
    background-color: var(--bg-color);
}

main {
    font-family: var(--font-family);
    
}

/* First container*/

.first_container {
    display: flex;
    justify-content: space-center;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 15em;
    gap: 1em;
    flex-wrap: wrap;
    position: relative;
}

#images {
    border-radius: 50%;
    border: 2px solid #ddd;
}

#aspas {
    display: flex;
    top: 0.51em;
    margin-left: 16em;
    width: 7%;
    opacity: 70%;
    position: absolute;
}

.Daniel_Clifford {
    background-color: hsl(263, 55%, 52%);
    width: 400px;
    border-radius: 10px;
    padding: 1em;
    color: var(--second-color);
    order: 1;
}

#title_white_1 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#title_first_white_1 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    margin-left: -20%;
    opacity: 0.5;
}

#title_second_white_1 {
    font-size: 15px;
    margin: 1em 0 1.5em 0;
}

#text_white_1 {
    font-size: 12px;
    opacity: 0.5;
}

.Jonathan_Walters {
    background-color: hsl(217, 19%, 35%);
    width: 190px;
    border-radius: 10px;
    padding: 1em;
    color: var(--second-color);
    order: 2;
}

#title_white_2 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#title_first_white_2 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: -47px;
    margin-left: 60px;
    opacity: 0.5;
}

#title_second_white_2 {
    font-size: 15px;
    margin: 1em 0 2em 0;
}

#text_white_2 {
    font-size: 12px;
    opacity: 0.5;
}


/* Second container*/

.second_container {
    display: flex;
    justify-content: space-center;
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 15em;
    gap: 1em;
    flex-wrap: wrap;
}

.Jeanette_Harmon {
    background-color: white;
    width: 190px;
    border-radius: 10px;
    padding: 1em;
    color: var(--primary-color);
    order: 3;
}

#title_gray_1 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#title_first_gray_1 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: -47px;
    margin-left: 60px;
    opacity: 0.5;
}

#title_second_gray_1 {
    font-size: 15px;
    margin: 1em 0 2em 0;
}

#text_gray_1 {
    font-size: 12px;
    opacity: 0.5;
}

.Patrick_Abrams {
    background-color: hsl(219, 29%, 14%);
    width: 400px;
    border-radius: 10px;
    padding: 1em;
    color: var(--second-color);
    order: 4;
}

#title_white_3 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#title_first_white_3 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3%;
    margin-left: -85px;
    opacity: 0.5;
}

#title_second_white_3 {
    font-size: 15px;
    margin: 1em 0 1.5em 0;
}

#text_white_3 {
    font-size: 12px;
    opacity: 0.5;
}

/* Third container*/

.third_container {
    display: flex;
    justify-content: space-center;
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
    margin-top: -32em;
    margin-left: 58em;
    flex-wrap: wrap;
    gap: 1em;
}


.Kira_Whittle {
    background-color: white;
    width: 190px;
    height: 480px;
    border-radius: 10px;
    padding: 1em;
    color: var(--primary-color);
    order: 5;
}

#title_gray_2 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#title_first_gray_2 {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: -47px;
    margin-left: 60px;
    opacity: 0.5;
}

#title_second_gray_2 {
    font-size: 15px;
    margin: 1em 0 2em 0;
}

#text_gray_2 {
    font-size: 12px;
    opacity: 0.5;
}

@media (min-width: 375px) {
    .third_container {
        flex-flow: columm wrap;
    }

}

/* Footer*/

.attribution-container {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
